<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Downloaded Media Viewer</title>

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='satellite.svg') }}">

    <style>
        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 10px;
        }
        .gallery-item {
            border: 1px solid #000;
            padding: 10px;
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
        .image-title {
            font-size: 1.25rem;
            margin-bottom: 10px;
            white-space: normal;
            word-break: break-word;
            overflow-wrap: break-word;
        }
      </style>
</head>
<body>
    <div class="container-fluid mt-3">
        <h1>Downloaded Images @{{config["downloaded"]}} - {{count}} Images</h1>
    </div>
    <div class="container-fluid mt-3 mb-3">
        <div class="row">
            <div class="col-md-2">
                <form action="{{ url_for('index') }}" method="get">
                    <button class="btn btn-success" type="submit">Go back</button>
                </form>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-info" id="showNarrow">Toggle Narrow ({{narrow}})</button>
                <button type="submit" class="btn btn-info" id="showNormal">Toggle Normal ({{normal}})</button>
                <button type="submit" class="btn btn-info" id="showWide">Toggle Wide ({{wide}})</button>
            </div>
            <!-- bonus feature: also filter by date
            {% for date in dates %}
                <div class="col-md-1">
                    <button type="submit" class="btn btn-secondary" id="date">Toogle {{date}}</button>
                </div>
            {% endfor %}
            -->
        </div>
    </div>
    <div class="gallery">
        {% for image in image_tupel %}
            <div class="gallery-item {{ image[2] }} {{image[1]}}" data-date="{{ image[1] }}" style="display: none;">
                <h2 class="image-title">{{ image[0] }}</h2>
                <img src="{{ url_for('uploaded_file_download', filename=image[0]) }}" alt="Image {{ loop.index }}">
            </div>
        {% endfor %}
    </div>

    <script>
        
        document.addEventListener('DOMContentLoaded', () => {
            // Initialize as persistant variables
            let showNarrow = JSON.parse(localStorage.getItem('showNarrow')) ?? true;
            let showNormal = JSON.parse(localStorage.getItem('showNormal')) ?? true;
            let showWide = JSON.parse(localStorage.getItem('showWide')) ?? true;
        
            /*
            // bonus feature: also filter by date
            let showDate = {};
            document.querySelectorAll('.gallery-item').forEach(item => {
                showDate[item.dataset.date] = JSON.parse(localStorage.getItem(`showDate-${item.dataset.date}`)) ?? true;
            });*/

            function updateNarrowDisplay() {
                document.querySelectorAll('.narrow').forEach((element) => {
                    element.style.display = showNarrow ? '' : 'none';
                });
                var button = document.getElementById('showNarrow');
                if (showNarrow) {
                    button.innerText = "Hide Narrow (" + {{narrow}}+ ")";
                } else {
                    button.innerText = "Show Narrow (" + {{narrow}}+ ")";
                }
            }
            function updateNormalDisplay() {
                document.querySelectorAll('.normal').forEach((element) => {
                    element.style.display = showNormal ? '' : 'none';
                });
                var button = document.getElementById('showNormal');
                if (showNormal) {
                    button.innerText = "Hide Normal (" + {{normal}} + ")";
                } else {
                    button.innerText = "Show Normal (" + {{normal}} + ")";
                }
            }
            function updateWideDisplay() {
                document.querySelectorAll('.wide').forEach((element) => {
                    element.style.display = showWide ? '' : 'none';
                });
                var button = document.getElementById('showWide');
                if (showWide) {
                    button.innerText = "Hide Wide (" + {{wide}}+ ")";
                } else {
                    button.innerText = "Show Wide (" + {{wide}}+ ")";
                }
            }
        
            updateNarrowDisplay();
            updateNormalDisplay();
            updateWideDisplay();
        
            // Toggle button functionality
            document.getElementById('showNarrow').addEventListener('click', () => {
                showNarrow = !showNarrow;
                localStorage.setItem('showNarrow', JSON.stringify(showNarrow));
                updateNarrowDisplay(); // Update display after toggle
            });
            document.getElementById('showNormal').addEventListener('click', () => {
                showNormal = !showNormal;
                localStorage.setItem('showNormal', JSON.stringify(showNormal));
                updateNormalDisplay(); // Update display after toggle
            });
            document.getElementById('showWide').addEventListener('click', () => {
                showWide = !showWide;
                localStorage.setItem('showWide', JSON.stringify(showWide));
                updateWideDisplay(); // Update display after toggle
            });
        });
    </script>
</body>
</html>