<!doctype html>
<html lang="en">
  <head>
    <!-- Boiler plate code incl Bootstrap framework-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Needed for toggable tabs -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Tab name-->
    <title>Rift-Console</title>

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='satellite.svg') }}">
    
    <!-- CSS -->
    <style>

      /* For state transition buttons*/
      .button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
      }
      .arrow {
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 10px solid #007bff; /* Matches the button color */
          margin: 0 10px;
          transform: rotate(90deg);
      }

      /* For zoned objective table */
      table {
        width: 100%;
        margin: 20px auto;
        border-collapse: collapse;
      }
      th, td {
          padding: 8px 12px;
          border: 1px solid #ddd;
          text-align: left;
      }
      th {
          background-color: #f4f4f4;
      }
      .wide-column {
        width: 30%;
      }

      /* For map */
      canvas {
        padding: 0;
        margin: auto;
        display: block;    
        width: 100%;  /* percentage to make it scale responsive */
        max-width: 1000px;
        border: 1px solid red;
      }
    
    </style>
  </head>

  <!-- Main Page -->
  <body>

    <!-- [Header Section] -->
    <div class="container-fluid mt-3">
      <div class="container-fluid row border">

        <div class="col-md-3 mt-2">
          <h1 class="text-center text-primary">Rift Console</h1>
        </div>        
        
        <div class="col-md-3 mt-2">
          <div class="button-container">
            <img src="{{ url_for('static', filename='images/' + prev_state + '.png') }}" alt="prev_state" class="smaller_img">
            <div class="arrow"></div>
            <img src="{{ url_for('static', filename='images/' + state + '.png') }}" alt="current_state">
            <div class="arrow"></div>
            <img src="{{ url_for('static', filename='images/' + next_state + '.png') }}" alt="next_state" class="smaller_img">
          </div>
        </div>
        <div class="col-md-4">
          <h2 class="col text-center text-secondary" id="time">Loading UTC Time...</h2>
        </div>
        <div class="col-md-2 mt-3">
          <h4>Next Com: {{next_slot_start}}</h4>
          <h4>End of Com: {{slot_ends}}</h4>
        </div>
      </div>
    </div>
    {% for message in get_flashed_messages() %}
      <h2 style="color: orange">Hey: {{ message }}</h2>
    {% endfor %}

      <!-- [Middle Section] -->
    <div class="container-fluid mt-2">
      <div class="row">
        <!-- Navigation Sidebar -->
        <div class="col-md-2">
          <h2>Data</h2>
          <div class="container-fluid border">
            <h2>Live Telemetry</h2>
            <p>{{timestamp}}</p>
            <div class="progress mt-2">
              <div class="progress-bar" style="width: {{fuel}}%;" aria-valuenow="{{fuel}}" aria-valuemin="0" aria-valuemax="100">{{fuel}}% - Fuel</div>
            </div>
            <div class="progress mt-2">
              <div class="progress-bar" style="width: {{battery}}%;" aria-valuenow="{{battery}}" aria-valuemin="0" aria-valuemax="100">{{battery}}% - Battery</div>
            </div>
            <div class="progress mt-2">
              <div class="progress-bar" style="width: {{max_battery}}%;" aria-valuenow="{{max_battery}}" aria-valuemin="0" aria-valuemax="100">{{max_battery}}% - Max Battery</div>
            </div>
            <p>Pos: ({{width_x}},{{height_y}}) & Vel: ({{vx}},{{vy}})</p>
            <p>State: {{state}} & angle: {{angle}}</p>
            <p>dist_cov: {{distance_covered}} & active_t: {{active_time}}</p>
            <p>area_cov (%): {{area_covered_narrow}}/{{area_covered_normal}}/{{area_covered_wide}}</p>
            <p>#images: {{images_taken}} obj-done/points={{objectives_done}}/{{objectives_points}}</p>
            <p>data-s/r={{data_volume_sent}}/{{data_volume_received}} slots_used={{slots_used}}</p>
          </div>

          <div class="container-fluid mt-1 border">
            <h2>Mevlonaut API</h2>
            {% if api %}
              <p>disk-free/total: {{api.disk_free}}/{{api.disk_total}}[GB] - {{api.disk_perc}}%</p>
              <div class="progress">
                <div class="progress-bar" style="width: {{api.disk_perc}}%;" aria-valuenow="{{api.disk_perc}}" aria-valuemin="0" aria-valuemax="100">Disk Util {{api.disk_perc}}%</div>
              </div>
              <p>mem-free/total: {{api.mem_available}}/{{api.mem_total}}[GB] - {{api.mem_perc}}%</p>
              <div class="progress">
                <div class="progress-bar" style="width: {{api.mem_perc}}%;" aria-valuenow="{{api.mem_perc}}" aria-valuemin="0" aria-valuemax="100">Mem Util {{api.mem_perc}}%</div>
              </div>
              <p>cpu: {{api.cpu_perc}}% of #cores: {{api.cpu_cores}}</p>
              <div class="progress">
                <div class="progress-bar" style="width: {{api.cpu_perc}}%;" aria-valuenow="{{api.cpu_perc}}" aria-valuemin="0" aria-valuemax="100">CPU Util {{api.cpu_perc}}%</div>
              </div>
              <p>Current Task: {{melvin_task}} & lens: {{melvin_lens}}</p>
            {% else %}
            <p>No data avaiable</p>
            {% endif %}
            <!-- Log list/download/clear/clear all-->
            <!-- Telemetry download/clear-->
            <!-- Events download/clear-->

            <!-- Set Task, show/reset settings, get/set/clear setting-->
          </div>
        </div>
        
        <!-- Main Content -->
        <div class="col-md-8">
          <!-- [NEW MAP] -->
          <h2 style="text-align:center;">World Map</h2>
          <button type="submit" class="btn btn-info" id="showObjectives">Toggle Zoned Objectives</button>
          <button type="submit" class="btn btn-info" id="showPastTraj">Toggle Past Trajectory</button>
          <button type="submit" class="btn btn-info" id="showFutureTraj">Toggle Future Trajectory</button>
          <select name="trajDur" id="trajDur" onchange="updateTrajDur()">
          </select>
          <div class="mb-2"></div>
          <canvas id="gameMap" width="1000" height="500"></canvas>
            <script>
              // Create a canvas object to draw on
              const canvas = document.getElementById('gameMap');
              const ctx = canvas.getContext('2d');

              const backgroundImage = new Image();
              // path: src/rift_console/static/images
              backgroundImage.src = "{{ url_for('static', filename='images/thumb_grey.png') }}";

              // main work loop, first background then squares
              backgroundImage.onload = function() {
                drawScene();
              }

              function drawScene(){
                ctx.drawImage(backgroundImage, 0, 0, canvas.width, canvas.height);

                if (showPastTraj) {
                  drawPastTraj();
                }
                if (showFutureTraj) {
                  drawFutureTraj();
                }
                if (showObjectives) {
                  drawObjectiveSquares();
                }
                drawSatellite();
              }

              // fixed to (1000, 500) above
              const canvas_width = canvas.width;
              const canvas_height = canvas.height;
              // constant
              const world_x = 21600
              const world_y = 10800
              // must be equal to constants.py
              const hour = 3600/10  // each trajDur means 1 hour, each datapoint is 60s apart

              // data from telemetry
              const objective_data = {{ draw_zoned_obj | tojson }};
              const past = {{ past_traj| tojson }};
              const future = {{ future_traj| tojson }};
              const x = {{width_x}} 
              const y = {{height_y}}
              const camera = {{camera_size}}

              const x_scaling = world_x / canvas_width
              const y_scaling = world_y / canvas_height

              let showPastTraj = true;
              let showFutureTraj = true;
              let showObjectives = true;
              let trajDur = 1;

              function drawSatellite() {
                ctx.strokeStyle = 'green';
                ctx.lineWidth = 4;
                ctx.strokeRect((x - camera / 2) / x_scaling, (y - camera / 2) / y_scaling, camera / x_scaling, camera / y_scaling);

                const satelliteEmoji = '🛰️';
                ctx.font = '32px Arial';
                ctx.textAlign = 'center';
                ctx.textBaseline = 'middle';
                ctx.fillText(satelliteEmoji, x / x_scaling, y / y_scaling);
              }

              function drawPastTraj() {
                ctx.fillStyle = 'brown';
                past.slice(0, trajDur*hour).forEach(coord => {
                    const [x, y] = coord;
                    ctx.beginPath();
                    ctx.arc(x / x_scaling, y / y_scaling, 3, 0, Math.PI * 2, true);
                    ctx.fill();
                });
              }
              function drawFutureTraj() {
                ctx.fillStyle = 'yellow';
                future.slice(0, trajDur*hour).forEach(coord => {
                    const [x, y] = coord;
                    ctx.beginPath();
                    ctx.arc(x / x_scaling, y / y_scaling, 3, 0, Math.PI * 2, true);
                    ctx.fill();
                });
              }

              // Draws a square / one objective region
              function drawSquare(x1, y1, x2, y2, label, index) {

                const width = x2 - x1;
                const height = y2 - y1;
                ctx.fillStyle = '#80ffaa';

                // Rectangle
                ctx.fillRect(x1, y1, width, height);

                // Text
                ctx.fillStyle = 'black';
                ctx.font = '18px Arial';
                ctx.textAlign = 'center';
                ctx.textBaseline = 'bottom';
                ctx.fillText(label, x1 + width / 2, y1 + 20);

              }

              // Calls drawSquare for each objective
              function drawObjectiveSquares() {
                objective_data.forEach(item => {
                  if (Array.isArray(item.zone) && item.zone.length === 4) {
                    const [x1, y1, x2, y2] = item.zone;
                    drawSquare(x1 / x_scaling, y1 / y_scaling, x2 / x_scaling, y2 / y_scaling, item.name);
                  } else {
                    console.error('Invalid zone data for item:', JSON.stringify(item));
                  }
                });
              }
              // Toogle buttons
              document.getElementById('showObjectives').addEventListener('click', () => {
                showObjectives = !showObjectives;
                drawScene();
              });
              document.getElementById('showPastTraj').addEventListener('click', () => {
                showPastTraj = !showPastTraj;
                drawScene();
              });
              document.getElementById('showFutureTraj').addEventListener('click', () => {
                showFutureTraj = !showFutureTraj;
                drawScene();
              });
              // dropdown menu
              function populateDropdown() {
                const dropdown = document.getElementById('trajDur');
                for (let i = 1; i <= 12; i++) {
                    const option = document.createElement('option');
                    option.value = i;
                    option.textContent = i;
                    dropdown.appendChild(option);
                }
              }

              function updateTrajDur() {
                  const dropdown = document.getElementById('trajDur');
                  trajDur = parseInt(dropdown.value, 10);
                  console.log(`Trajectory duration updated to: ${trajDur}`);
                  drawScene();
              }

              window.onload = populateDropdown;
          </script>
          <p>Green Box: Melvins Camera Area; Brown/Yellow Line: Past/Future Trajectory for 1h@1SimSpeed, each dot 10s</p>

          <div class="row">
            <div class="col-md-2">
              <a href="{{ url_for('live') }}" class="btn btn-success w-100" target="_blank">View Snapshots</a>
            </div>
            <div class="col-md-2">
              <a href="{{ url_for('downloads') }}" class="btn btn-success w-100" target="_blank">View Downloads</a>
            </div>
            <div class="col-md-2">
              <a href="{{ url_for('stitches') }}" class="btn btn-success w-100" target="_blank">View Stitches</a>
            </div>
            <div class="col-md-2">
              <a href="{{ url_for('view_ebt') }}" class="btn btn-success w-100" target="_blank">View EBT</a>
            </div>
            <div class="col-md-4">
            </div>
          </div>
        </div>

        <!-- Buttons -->
        <div class="col-md-2">
          <div class="container-fluid border">
            <h3>Simulation</h3>
            <form action="{{ url_for('control_handler') }}" method="post">
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-danger w-100" onclick="confirmAction(event)" name="button" value="reset">Reset Sim</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <button type="submit" class="btn btn-warning w-100" name="button" value="save">Save State</button>
                </div>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-danger w-100" onclick="confirmAction(event)" name="button" value="load">Load State</button>
                </div>
              </div>
              <div class="row mt-2">
                <h6>Network Simulation:</h6>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-warning w-100" name="button" value="on_sim">On</button>
                </div>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-warning w-100" name="button" value="off_sim">Off</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <select name="sim_speed" id="sim_speed">
                      {% for i in range(1, 21) %}
                          <option value="{{ i }}" {% if selected_value == i|string %}selected{% endif %}>{{ i }}</option>
                      {% endfor %}
                  </select>
                </div>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-secondary w-100" name="button" value="sim_speed">Change</button>
                </div>
              </div>
            </form>
            <h6>Saved backup: {{last_backup_date}}</h6>
            <h6>SimOn: {{is_network_simulation}} SimSpeed: {{user_speed_multiplier}}</h6>
          </div>
          <div class="container-fluid mt-1 border">
            <h3>Satellite</h3>
            <form action="{{ url_for('satellite_handler') }}" method="post">
              <div class="row">
                <div class="col-md-6">
                  <button type="submit" class="btn btn-info w-100" name="button" value="telemetry">Telemetry</button>
                </div>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-info w-100" name="button" value="image">Image</button>
                </div>
              </div>
              <!-- State -->
              <div class="row no-gutters">
                <div class="col-md-4">
                  <button type="submit" class="btn btn-success w-100" name="button" value="acquisition">Acq.</button>
                </div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-success w-100" name="button" value="charge">Charge</button>
                </div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-success w-100" name="button" value="communication">Com.</button>
                </div>
              </div>
              <!-- Camera angle -->
              <div class="row">
                <div class="col-md-4">
                  <button type="submit" class="btn btn-success w-100" name="button" value="narrow">Narrow</button>
                </div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-success w-100" name="button" value="normal">Normal</button>
                </div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-success w-100" name="button" value="wide">Wide</button>
                </div>
              </div>
              <!-- Velocity -->
              <div class="row">
                <div class="col-md-6">
                    <label for="vel_x">Vel_x:</label>
                    <input type="text" class="form-control w-100" name="vel_x">
                </div>
                <div class="col-md-6">
                    <label for="vel_y">Vel_y:</label>
                    <input type="text" class="form-control w-100" name="vel_y">
                </div>
                <div class="col-md-12 mb-3">
                  <button type="submit" class="btn btn-secondary w-100" name="button" value="velocity"">Confirm</button>
                </div>
              </div>
            </form>
          </div>
          <div class="container-fluid mt-1 border">
            <h3>Melvonaut API</h3>
            <form action="{{ url_for('melvonaut_api') }}" method="post">
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-info w-100" name="button" value="status">Status</button>
                </div>
              </div>
              <!-- State -->
              <div class="row">
                <div class="col-md-6">
                  <button type="submit" class="btn btn-success w-100" name="button" value="mapping">Mapping</button>
                </div>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-success w-100" name="button" value="ebt">Communication</button>
                </div>
              </div>
              <!-- Camera angle -->
              <div class="row">
                <div class="col-md-4">
                  <button type="submit" class="btn btn-success w-100" name="button" value="narrow">Narrow</button>
                </div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-success w-100" name="button" value="normal">Normal</button>
                </div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-success w-100" name="button" value="wide">Wide</button>
                </div>
              </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

    <!-- [Bottom Section] -->
    <div class="container-fluid mt-1">
      <ul class="nav nav-tabs" id="myTabs">
        <li class="active"><a data-toggle="tab" href="#melv" data-tab="melv">Melvonaut</a></li>
        <li><a data-toggle="tab" href="#slots" data-tab="slots">Slots</a></li>
        <li><a data-toggle="tab" href="#obj" data-tab="obj">Objectives</a></li>
        <li><a data-toggle="tab" href="#ebt" data-tab="ebt">EBT</a></li>
        <li><a data-toggle="tab" href="#upload" data-tab="upload">Upload</a></li>
        <li><a data-toggle="tab" href="#achv" data-tab="achv">Achievements</a></li>
      </ul>
    
      <div class="tab-content">
        <div id="melv" class="tab-pane fade in active mb-2">
          <form action="{{ url_for('melvonaut_api') }}" method="post">
            <div class="row mt-2">
              {% if melvonaut_image_count != -1 and console_image_count != -1 %}
              <h2>Images - currently {{melvonaut_image_count}} Images on Melvin, {{console_image_count}} Images downloaded on Console</h2>
              {% else %}
              <h2>Images</h2>
              {% endif %}
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                  <button type="submit" class="btn btn-info w-100" name="button" value="count">Count Images</button>
                </div>
                <div class="col-md-2">
                  <button type="submit" class="btn btn-success w-100" name="button" value="sync">Sync to console</button>
                </div>
                <div class="col-md-2">
                  <button type="submit" class="btn btn-danger w-100" onclick="confirmAction(event)" name="button" value="clear">Clear images</button>
                </div>
            </div>
            <div class="row">
                <h2>Telemetry-csv</h2>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                  <button type="submit" class="btn btn-success w-100" name="button" value="down_telemetry">Download</button>
                </div>
                <div class="col-md-2">
                  <button type="submit" class="btn btn-danger w-100" onclick="confirmAction(event)" name="button" value="clear_telemetry">Delete</button>
                </div>
            </div>
            <div class="row">
                <h2>Events-csv</h2>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                  <button type="submit" class="btn btn-success w-100" name="button" value="down_events">Download</button>
                </div>
                <div class="col-md-2">
                  <button type="submit" class="btn btn-danger w-100" onclick="confirmAction(event)" name="button" value="clear_events">Delete</button>
                </div>
            </div>
            <div class="row">
              <h2>Log-files</h2>
              <div class="col-md-1"></div>
              <div class="col-md-2">
                <button type="submit" class="btn btn-success w-100" name="button" value="sync_logs">Sync to console</button>
              </div>
              <div class="col-md-2">
                <button type="submit" class="btn btn-danger w-100" onclick="confirmAction(event)" name="button" value="clear_logs">Clear Logs</button>
              </div>
          </div>
            <div class="row mt-5"></div>
          </form>
        </div>
        <div id="slots" class="tab-pane fade">
          <table> 
            <thead>
              <tr>
                <th>Id</th>
                <th>Start</th>
                <th>End</th>
                <th>Booked</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for slot in slots %}
              <tr>
                <td>{{ slot.id }}</td>
                <td>{{ slot.start.strftime("%Y-%m-%dT%H:%M:%S") }}</td>
                <td>{{ slot.end.strftime("%Y-%m-%dT%H:%M:%S") }}</td>
                <td>{{ slot.enabled }}</td>
                <td>
                  <form action="{{ url_for('book_slot', slot_id=slot.id) }}" method="post">
                    {% if slot.enabled %}
                    <button type="submit" class="btn btn-warning" name="button" value="cancle">Cancle</button>
                    {% else %}
                    <button type="submit" class="btn btn-success" name="button" value="book">Book</button>
                    {% endif %}
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div id="obj" class="tab-pane fade">

          <!-- Add/Modify objective-->
          <div class="container">
            <form action="{{ url_for('obj_mod') }}" method="post">
              <div class="row">
                <div class="col-md-1">
                  <label for="obj_id">Id:</label>
                  <input type="text" class="form-control" name="obj_id" placeholder="1" value="1">
                </div>
                <div class="col-md-2">
                  <label for="name">Name:</label>
                  <input type="text" class="form-control" name="name" placeholder="Test1" value="Test1">
                </div>
                <div class="col-md-2">
                  <label for="start">Start:</label>
                  <input type="text" class="form-control" name="start" id="start">
                </div>
                <div class="col-md-2">
                  <label for="end">End:</label>
                  <input type="text" class="form-control" name="end" id="end">
                </div>
                <div class="col-md-2">
                  <label for="angle">Camera Angle:</label>
                  <select name="angle" id="angle" class="form-control">
                    {% for option in ["narrow", "normal", "wide"] %}
                        <option value="{{ option }}" {% if selected_value == option %}selected{% endif %}>{{ option|capitalize }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-1">
                  <label for="secret">Secret?:</label>
                  <select name="secret" id="secret" class="form-control">
                    {% for option in ["False", "True"] %}
                        <option value="{{ option }}" {% if selected_value == option %}selected{% endif %}>{{ option }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-md-1">
                  <label for="coverage_required">Coverage:</label>
                  <input type="text" class="form-control" name="coverage_required" placeholder="0.5" value="0.5">
                </div>
                <div class="col-md-3">
                  <label for="description">Description:</label>
                  <input type="text" class="form-control" name="description" placeholder="Blub" value="Blub">
                </div>
                <div class="col-md-1">
                  <label for="x1">X_1:</label>
                  <input type="text" class="form-control" name="x1" placeholder="1000" value="1000">
                </div>
                <div class="col-md-1">
                  <label for="y1">Y_1:</label>
                  <input type="text" class="form-control" name="y1" placeholder="1000" value="1000">
                </div>
                <div class="col-md-1">
                  <label for="x2">X_2:</label>
                  <input type="text" class="form-control" name="x2" placeholder="2000" value="2000">
                </div>
                <div class="col-md-1">
                  <label for="y2">Y_2:</label>
                  <input type="text" class="form-control" name="y2" placeholder="2000" value="2000">
                </div>
                <div class="col-md-2 mt-4">
                  <button type="submit" class="btn btn-secondary" name="button" value="zoned">Confirm</button>
                </div>
                <div class="col-md-2 mt-4">
                  <button type="submit" class="btn btn-info" name="button" value="write_obj">Write Objectives</button>
                </div>
              </div>
            </form>
          </div>
          <table> 
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th class="wide-column">Description</th>
                <th>Start</th>
                <th>End</th>
                <th>Hidden?</th>
                <th>Camera Lens</th>
                <th>Coverage %</th>
                <th>Coordinates</th>
                <th>decrease_rate</th>
                <th>Stitch</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in zoned_objectives %}
              <tr>
                <td>{{ obj.id }}</td>
                <td>{{ obj.name }}</td>
                <td>{{ obj.description }}</td>
                <td>{{ obj.start.strftime("%Y-%m-%dT%H:%M:%S") }}</td>
                <td>{{ obj.end.strftime("%Y-%m-%dT%H:%M:%S") }}</td>
                <td>{{ obj.secret }}</td>
                <td>{{ obj.optic_required }}</td>
                <td>{{ obj.coverage_required }}</td>
                <td>{{ obj.zone }}</td>
                <td>{{ obj.decrease_rate }}</td>
                <td>
                  {% if obj.secret == False %}
                  <form action="{{ url_for('stitch_obj', obj_id=obj.id) }}" method="post">
                    <button type="submit" class="btn btn-success">Stitch</button>
                  </form>
                  {% endif %}
                </td>
                <td>
                  <form action="{{ url_for('del_obj', obj_id=obj.id) }}" method="post">
                    <button type="submit" class="btn btn-danger" onclick="confirmAction(event)">Delete</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div id="ebt" class="tab-pane fade">
          <!-- Add/Modify objective-->
          <div class="container">
            <form action="{{ url_for('obj_mod') }}" method="post">
              <div class="row">
                <div class="col-md-1">
                  <label for="obj_id">Id:</label>
                  <input type="text" class="form-control" name="obj_id" placeholder="100" value="100">
                </div>
                <div class="col-md-2">
                  <label for="name">Name:</label>
                  <input type="text" class="form-control" name="name" placeholder="EBT 1" value="EBT 1">
                </div>
                <div class="col-md-3">
                  <label for="start">Start:</label>
                  <input type="text" class="form-control" name="start_ebt" id="start_ebt">
                </div>
                <div class="col-md-3">
                  <label for="end">End:</label>
                  <input type="text" class="form-control" name="end_ebt" id="end_ebt">
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <label for="description">Description:</label>
                  <input type="text" class="form-control" name="description" placeholder="Blub" value="Blub">
                </div>
                <div class="col-md-1">
                  <label for="beacon_width">X-Width:</label>
                  <input type="text" class="form-control" name="beacon_width" placeholder="1000" value="1000">
                </div>
                <div class="col-md-1">
                  <label for="beacon_height">Y-Heigth:</label>
                  <input type="text" class="form-control" name="beacon_height" placeholder="1000" value="1000">
                </div>
                <div class="col-md-2 mt-4">
                  <button type="submit" class="btn btn-secondary w-100" name="button" value="ebt">Confirm</button>
                </div>
              </div>
            </form>
          </div>
          <table> 
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Start</th>
                <th>End</th>
                <th>attempts_made</th>
                <th>decrease_rate</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in beacon_objectives %}
              <tr>
                <td>{{ obj.id }}</td>
                <td>{{ obj.name }}</td>
                <td>{{ obj.description }}</td>
                <td>{{ obj.start.strftime("%Y-%m-%dT%H:%M:%S") }}</td>
                <td>{{ obj.end.strftime("%Y-%m-%dT%H:%M:%S") }}</td>
                { for}
                {% if obj.id in completed_ids %}
                <td>{{ obj.attempts_made }} - FOUND</td>
                {% else %}
                <td>{{ obj.attempts_made }}</td>
                {% endif %}
                <td>{{ obj.decrease_rate }}</td>
                <td>
                  <form action="{{ url_for('del_obj', obj_id=obj.id) }}" method="post">
                    <button type="submit" class="btn btn-danger" onclick="confirmAction(event)" name="button" value="delete">Delete</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div id="upload" class="tab-pane fade">
          <form action="{{ url_for('results') }}" method="post">
            <div class="row mt-2">
              <h3>World Map</h2>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                  <label for="path_world">Path: (starting in logs/rift_console/images/stitched/)</label>
                  <input type="text" class="form-control" name="path_world" placeholder="test.png" value="test.png">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1 mt-3">
                  <button type="submit" class="btn btn-success" name="button" value="worldmap">Upload</button>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1 mt-3">
                  <button type="submit" class="btn btn-info" name="button" value="check_images">Check Images</button>
                </div>
                <div class="col-md-2 mt-3">
                  <label for="choose_date">Choose date</label>
                  <select name="choose_date" id="choose_date">
                      {% for date in console_image_dates %}
                          <option value="{{ date[0] }}" {% if selected_value == date[0]|string %}selected{% endif %}>{{ date[0] }} - {{date[1]}} images</option>
                      {% endfor %}
                  </select>
                </div>
                <div class="col-md-1 mt-3">
                  <button type="submit" class="btn btn-success" name="button" value="stitch">Stitch World Map</button>
                </div>
            </div>
            <div class="row mt-2">
              <h3>Zoned Objective</h3>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                  <label for="path_obj">Path: (starting in logs/rift_console/images/stitched/)</label>
                  <input type="text" class="form-control" name="path_obj" placeholder="test.png" value="test.png">
                </div>
                <div class="col-md-1">
                  <label for="objective_id">Id:</label>
                  <input type="text" class="form-control" name="objective_id" placeholder="1" value="1">
                </div>
                <div class="col-md-2 mt-3">
                  <button type="submit" class="btn btn-success" name="button" value="obj">Upload</button>
              </div>
              <div class="col-md-1 mt-3">
                <button type="submit" class="btn btn-info" name="button" value="check_pings">Check Pings</button>
              </div>
              <div class="col-md-2 mt-3">
                <label for="choose_id">Choose id</label>
                <select name="choose_id" id="choose_id">
                    {% for id in ebt_ping_list %}
                        <option value="{{ id[0] }}" {% if selected_value == id[0]|string %}selected{% endif %}>{{ id[0] }} - {{id[1]}} pings</option>
                    {% endfor %}
                </select>
              </div>
              <div class="col-md-1 mt-3">
                <button type="submit" class="btn btn-success" name="button" value="calc_ebt">Calculate EBT</button>
              </div>
            </div>
            <div class="row mt-1">
              <div class="row">
                <div class="col-md-1"><h3>Stitch</h3></div>
                <div class="col-md-2 mt-5">
                  <label for="start">Start:</label>
                  <input type="text" class="form-control" name="start_stitch" id="start_stitch">
                </div>
                <div class="col-md-2 mt-5">
                  <label for="end">End:</label>
                  <input type="text" class="form-control" name="end_stitch" id="end_stitch">
                </div>
                <div class="col-md-2 mt-5">
                  <label for="angle">Camera Angle:</label>
                  <select name="angle" id="angle" class="form-control">
                    {% for option in ["narrow", "normal", "wide"] %}
                        <option value="{{ option }}" {% if selected_value == option %}selected{% endif %}>{{ option|capitalize }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-1 mt-5">
                  <label for="x1">X_1:</label>
                  <input type="text" class="form-control" name="x1" placeholder="1000" value="1000">
                </div>
                <div class="col-md-1 mt-5">
                  <label for="y1">Y_1:</label>
                  <input type="text" class="form-control" name="y1" placeholder="1000" value="1000">
                </div>
                <div class="col-md-1 mt-5">
                  <label for="x2">X_2:</label>
                  <input type="text" class="form-control" name="x2" placeholder="2000" value="2000">
                </div>
                <div class="col-md-1 mt-5">
                  <label for="y2">Y_2:</label>
                  <input type="text" class="form-control" name="y2" placeholder="2000" value="2000">
                </div>
                <div class="col-md-1 mt-5">
                  <button type="submit" class="btn btn-success" name="button" value="stitch_area">Area</button>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <h3>Beacon Position</h2>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                  <label for="beacon_id">Id:</label>
                  <input type="text" class="form-control" name="beacon_id" placeholder="1" value="1">
                </div>
                <div class="col-md-2">
                  <label for="width">X-Width (0-21600):</label>
                  <input type="text" class="form-control" name="width" placeholder="1000" value="1000">
                </div>
                <div class="col-md-2">
                  <label for="height">Y-Heigth (0-10800):</label>
                  <input type="text" class="form-control" name="height" placeholder="1000" value="1000">
                </div>
                <div class="col-md-3 mt-3">
                  <button type="submit" class="btn btn-success" name="button" value="beacon">Guess</button>
              </div>
            </div>
            <!-- small spacer -->
            <div class="row mt-5"></div>
          </form>
        </div>
        <div id="achv" class="tab-pane fade">
          <table> 
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Points</th>
                <th>Done</th>
                <th>goal_parameter_threshold</th>
                <th>goal_parameter</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in achievements %}
              <tr>
                <td>{{ obj.name }}</td>
                <td>{{ obj.description }}</td>
                <td>{{ obj.points }}</td>
                <td>{{ obj.done }}</td>
                <td>{{ obj.goal_parameter_threshold }}</td>
                <td>{{ obj.goal_parameter }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    

  <!-- Java Script -->
  <script>

    // Add popup for dangerous buttons
    function confirmAction(event) {
      if(!confirm('Are you sure?')) {
        event.preventDefault();
      }
    }

    // Get current utc time
    function updateTime() {
        const now = new Date();
        const isoString = now.toISOString();
        const formattedString = isoString.slice(0, 19);
        document.getElementById('time').textContent = `Live UTC: ${formattedString}`;
    }

    // Get time for add objective form
    function updateFormTime() {
      const now = new Date();
      const isoString = now.toISOString();
      const startS = isoString.slice(0, 16);
      document.getElementById('start').placeholder = `${startS}`;
      document.getElementById('start').value = `${startS}`;
      document.getElementById('start_ebt').placeholder = `${startS}`;
      document.getElementById('start_ebt').value = `${startS}`;
      document.getElementById('start_stitch').placeholder = `${startS}`;
      document.getElementById('start_stitch').value = `${startS}`;

      now.setUTCDate(now.getUTCDate() + 1);
      endS = now.toISOString();
      const endShort = endS.slice(0, 16);
      document.getElementById('end').placeholder = `${endShort}`;
      document.getElementById('end').value = `${endShort}`;
      document.getElementById('end_ebt').placeholder = `${endShort}`;
      document.getElementById('end_ebt').value = `${endShort}`;
      document.getElementById('end_stitch').placeholder = `${endShort}`;
      document.getElementById('end_stitch').value = `${endShort}`;
    }
    // Initial call
    updateTime();
    updateFormTime();
    // Update every second
    setInterval(updateTime, 1000);

    // rember last active tab
    $(document).ready(function() {
      // Check if there's a stored tab
      var activeTab = localStorage.getItem('activeTab');
      if (activeTab) {
          $('#myTabs a[href="' + activeTab + '"]').tab('show');
      } else {
          $('#myTabs a:first').tab('show'); // Default to the first tab
      }
  
      // Store the selected tab in localStorage
      $('#myTabs a').on('shown.bs.tab', function (e) {
          var activeTab = $(e.target).attr('href');
          localStorage.setItem('activeTab', activeTab);
      });
  });
  </script>
  </body>
</html>
